.container{
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.card{
    width: 15rem;
    border: 2px solid green;
}

h4{
    font-weight: 900;
    text-transform: uppercase;
}
h4::before{
    content: '';
    width: 100%;
    border: 2px solid orange;
    margin-right: 5px;

}
.btn{
    border: 1px solid orange;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 13px;
    margin-bottom:20px ;
    
}

