.tutor-dec{
    font-weight: 900;
    font-size: 13px;
}
.tutor-dec::before{
    content: '';
    width: 100%;
    border: 2px solid orange;
    margin-right: 5px;
}
.tutor-img{
    animation-name: move-left-right;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    aspect-ratio: 1;
    clip-path: polygon(100.00% 50.00%,90.45% 79.39%,65.45% 97.55%,34.55% 97.55%,9.55% 79.39%,0.00% 50.00%,9.55% 20.61%,34.55% 2.45%,65.45% 2.45%,90.45% 20.61%);
}

@keyframes move-left-right {
    0% { transform: translateX(0); }
    50% { transform: translateX(-50px); }
    100% { transform: translateX(0); }
  }

  